In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv ('D:/UniHack/archive/cleaned.csv')

In [3]:
#df.head(5)
#print (df.columns)
# df.drop(columns=['MD5Sum', 'Surface', 'Uploaded Time', 'Loader ID', 'Location Name', 'Radiation', 'Device ID'], inplace=True)
# print (df.columns)
#df.drop(columns=['Radiation'], inplace=True)
#df.head(5)
# df = df[df['Unit'].isin(['cpm'])]
# df.head(5)
#df = df.drop(columns=['Unit'])
# df.to_csv('D:/UniHack/archive/cleaned.csv')

In [4]:
df.head(5)

   Unnamed: 0            Captured Time   Latitude   Longitude  Value
0           0  2020-02-03 17:00:00.000  37.507552  139.941170   72.0
1           1  2020-02-03 11:00:00.000  37.505445    0.016667   68.0
2           2  2020-02-03 11:00:00.000  37.507250  139.940000   55.0
3           3  2020-02-01 03:00:00.000  34.066487 -118.895217   50.0
4           4  2020-02-01 01:00:00.000  37.673233  140.066667   48.0

In [7]:
# old_df=df
# df = df[0:10000]

In [8]:
print(df.columns)
# #df = df.drop(columns=['Height'])
df = df.drop(columns=['Unnamed: 0'])
# df = df.drop(columns=['Unnamed: 0.1'])
# df = df.drop(columns=['Unit'])

Index(['Unnamed: 0', 'Captured Time', 'Latitude', 'Longitude', 'Value'], dtype='object')

In [9]:
df.head(5)

             Captured Time   Latitude   Longitude  Value
0  2020-02-03 17:00:00.000  37.507552  139.941170   72.0
1  2020-02-03 11:00:00.000  37.505445    0.016667   68.0
2  2020-02-03 11:00:00.000  37.507250  139.940000   55.0
3  2020-02-01 03:00:00.000  34.066487 -118.895217   50.0
4  2020-02-01 01:00:00.000  37.673233  140.066667   48.0

In [11]:
# old_df.to_csv('D:/UniHack/archive/cleaned.csv')

In [12]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import torch
import torch.nn as nn
from torch.autograd import Variable
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [13]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, ensemble
from sklearn.inspection import permutation_importance
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [25]:
df.head(5)
df['Captured Time'] = pd.to_datetime(df['Captured Time'], errors = 'coerce')
df = df[df['Captured Time'].notnull()]

In [31]:
from datetime import datetime
from time import mktime

df['Captured Time'] = df['Captured Time'].apply(lambda x: mktime(x.timetuple()))
# df['Captured Time'] = mktime(df['Captured Time'].timetuple())

In [32]:
df['Latitude'] = df['Latitude'].astype('float64')
df['Longitude'] = df['Longitude'].astype('float64')
df['Value'] = df['Value'].astype('float64')

In [33]:
# print(df.head(5))
# print(df.columns[3])
# print(df.dtypes)
X = df.iloc[:,:-1].values
Y = pd.DataFrame(df.iloc[:,-1]).values

In [34]:
X

array([[ 1.58072940e+09,  3.75075517e+01,  1.39941170e+02],
       [ 1.58070780e+09,  3.75054450e+01,  1.66666667e-02],
       [ 1.58070780e+09,  3.75072500e+01,  1.39940000e+02],
       ...,
       [ 1.51231108e+09,  4.13303000e+01, -7.38340000e+01],
       [ 1.51231107e+09,  4.22080000e+01, -1.22690000e+02],
       [ 1.51231107e+09,  4.22080000e+01, -1.22690000e+02]])

In [35]:
Y

array([[72.],
       [68.],
       [55.],
       ...,
       [41.],
       [13.],
       [35.]])

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=99)

In [37]:
np.shape(X)

(10000, 3)

In [49]:
np.shape(y_train)
# y_train = y_train

In [109]:
params = {
    "n_estimators": 2000,
    "max_depth": 4,
    "min_samples_split": 2,
    "learning_rate": 0.01,
#     "loss": "squared_error",
}

In [110]:
reg = ensemble.GradientBoostingRegressor(**params)

# print(X_train.head(5))
# print(y_train.head(5))

# print(type(X_train))
# print(type(y_train))
# print(X_train.dtypes)
# print(y_train.dtypes)

reg.fit(X_train, y_train.ravel())

GradientBoostingRegressor(learning_rate=0.01, max_depth=4, n_estimators=2000)

In [111]:
y_pred = reg.predict(X_test)

mse = mean_squared_error(y_test, reg.predict(X_test))
print("The mean squared error (MSE) on test set: {:.4f}".format(mse))

The mean squared error (MSE) on test set: 200.2910

In [112]:
from sklearn import metrics

print("Mean Absolute Error: ", metrics.mean_absolute_error(y_test, y_pred))
print("Mean Squared Error: ", metrics.mean_squared_error(y_test, y_pred))
print("Root Mean Squared Error: ", np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error:  10.229493206684834
Mean Squared Error:  200.29103856874693
Root Mean Squared Error:  14.152421650330622

In [113]:
print("The accuracy: ", metrics.r2_score(y_test, y_pred))

The accuracy:  0.648176534609239